.shadow1 {
  position: absolute;
  top: 10rem;
  right: -4rem;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 6rem rgb(48, 69, 185);
}
.shadow2 {
  position: absolute;
  bottom: 10rem;
  left: -4rem;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 6rem rgb(138, 72, 253);
}
