.titre {
  color: transparent;
  background: linear-gradient(90deg, violet, var(--blue-theme));
  background-clip: text;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.shadowButton {
  background: transparent;
  box-shadow: 0px 0px 200rem 2rem var(--white);
}
.buttonSignUp {
  background: #0000002e;
  backdrop-filter: blur();
}
.light {
  transform: skew(6deg) rotateZ(155deg);
  border-radius: 100%;
}
.light2 {
  transform: skew(6deg) rotateZ(35deg);
  border-radius: 100%;
}
.rayon {
  top: 10rem;
  left: -2rem;
  width: 30rem;
  height: 15rem;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.65) 50%,
    transparent,
    transparent
  ); */
  transform: skew(6deg) rotateZ(60deg);
  border-radius: 100%;
  filter: blur(1px);
}
.shadowRayon {
  bottom: 5rem;
  left: 0rem;
  width: 1px;
  height: 1px;
  background: transparent;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 8rem white;
}

.rayon2 {
  top: 8rem;
  right: -5rem;
  width: 30rem;
  height: 15rem;
  transform: skew(2deg) rotateZ(135deg);
  border-radius: 100%;
  filter: blur(1px);
}
.shadowRayon2 {
  bottom: 5rem;
  left: 2rem;
  width: 1px;
  height: 1px;
  background: transparent;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 8rem white;
}
.animGrandCard {
  top: 50%;
  left: 50%;
  animation: rotate2 6s linear infinite;
  transform-origin: top left;
  background: linear-gradient(
    135deg,
    var(--purple-theme),
    transparent,
    transparent
  );
}
.animGrandCard2 {
  top: 50%;
  left: 50%;
  animation: rotate2 6s linear infinite;
  animation-delay: -3s;
  transform-origin: top left;
  background: linear-gradient(
    135deg,
    var(--purple-theme),
    transparent,
    transparent
  );
}

.animPetitCard {
  top: 50%;
  left: 50%;
  animation: rotate2 3s linear infinite;
  transform-origin: top left;
  background: linear-gradient(
    135deg,
    var(--purple-theme),
    transparent,
    transparent
  );
}
.animPetitCard2 {
  top: 50%;
  left: 50%;
  animation: rotate2 3s linear infinite;
  animation-delay: -1.5s;
  transform-origin: top left;
  background: linear-gradient(
    135deg,
    var(--purple-theme),
    transparent,
    transparent
  );
}
@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.squareAbout {
  top: 6rem;
  right: -18rem;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(135deg, var(--purple-theme), var(--blue-theme));
  transform: rotate(45deg);
}
.squareAbout2 {
  bottom: 6rem;
  left: -18rem;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(135deg, var(--purple-theme), var(--blue-theme));
  transform: rotate(45deg);
}
.bgTitre1 {
  color: transparent;
  background: linear-gradient(
    135deg,
    rgb(64, 191, 246),
    transparent,
    transparent,
    rgb(64, 191, 246),
    transparent,
    transparent,
    rgb(64, 191, 246)
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.25px rgb(64, 191, 246);
  font-weight: 700;
  animation: trans 10s linear infinite;
}
@keyframes trans {
  0% {
    background-position: 0;
  }
  100% {
    background-position-x: -20rem;
  }
}
